<!-- Imaa soluciones comenzó --->
<div class="row">
<nav>
    <div class="nav-wrapper  light-blue darken-2">
    <a href="#" class="brand-logo">IMAA</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Servicios</a></li>
        <li><a href="">Soluciones</a></li>
        <li><a href=""></a></li>
    </ul>
    </div>
</nav>
<router-outlet>
</router-outlet>
</div>
<footer class="page-footer light-blue darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Ubicación</h5>
          <p class="grey-text text-lighten-4">Los Lagos, Los Rios, Volcan Villarica #783</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Información</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 IMAA 
      <a class="grey-text text-lighten-4 right" href="www.imaa.com">www.imaa.com</a>
      </div>
    </div>
</footer>