<!-- Imaa soluciones comenzó --->
<header>
<!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarIMAA"
        aria-controls="navbarIMAA"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarIMAA">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" routerLink="/">
          <!-- Agregar icon pro -->
            <img
              src="../assets/IMAA.png"
              height="40"
              alt="IMAA"
              loading="lazy"
            />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Servicios</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
<!-- Navbar -->
  <div 
    id="intro"
    class="bg-image"
    style="
      background-image: url(../assets/sistemas-de-informacion.jpg);
      height: 100vh;
    "
  >
  <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.6); height: 100vh;">
    <div class="container d-flex align-items-center text-center h-100">
      <div>
        <h1 class="mb-5">IMAA</h1>
        <p>
          <button type="button" class="btn btn-outline-light">Contactanos</button>
        </p>
      </div>
    </div>
  </div>
  </div>
</header>
<router-outlet>
</router-outlet>
